.main::-webkit-scrollbar-thumb {
    background-color: gray;
    border-radius: 4px;
}

.myMessage {
    background-color: #bbd6b8;
    padding: 4px 10px;
    margin-bottom: 5px;
    border-radius: 10px;
    width: fit-content;
    align-self: flex-end;
}

.othersMessage {
    background-color: #f8c4c4;
    padding: 4px 10px;
    margin-bottom: 5px;
    border-radius: 10px;
    width: fit-content;
    align-self: flex-start;
}
